.contact-content-container {
    display: grid;
    background-color: var(--secondary-background-color);

    grid-template-areas:
            'contactTopPanel contactTopPanel contactTopPanel contactTopPanel contactTopPanel contactTopPanel contactTopPanel contactTopPanel contactTopPanel contactTopPanel contactTopPanel contactTopPanel'
            'contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel contactBottomPanel';

}

.contact-top-panel {
    grid-area: contactTopPanel;

    margin: 40px 0;
}

.contact-bottom-panel {
    grid-area: contactBottomPanel;

    color: var(--secondary-text-color);
}

.contact-form-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin: 40px 60px;
}

.contact-input {
    display: flex;

    background-color: inherit;
    color: var(--secondary-text-color);
    width: max(calc(50% - 4%), 400px);
    height: 40px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid var(--primary-text-color);
    font-size: 20px;
}

.contact-input:focus {
    border-color: var(--primary-background-color);
    outline: none;
}

.contact-textarea {
    resize: vertical;
    height: 200px;
    min-height: 200px;
    width: max(calc(100% - 4%), 200px);
}

.contact-textarea-label {
    display: flex;

    margin: 0 auto;
    width: max(calc(100% - 4%), 200px);
    color: var(--secondary-text-color);
}

.contact-label {
    display: flex;

    margin: 0 auto;
    width: max(calc(50% - 4%), 400px);
    color: var(--secondary-text-color);
}

.contact-submit-button {
    display: block;

    margin: 60px auto 150px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    border: none;
}

.contact-submit-button:hover {
    cursor: pointer;
    background-color: var(--primary-text-color);
    color: var(--primary-background-color);
}

.contact-needed-fields-text {
    text-align: left;
    margin-left: 40px;
}

.contact-asterisk {
    color: var(--primary-text-color);
}