.footer {
    grid-area: footer;
    background-color: var(--secondary-background-color);
}

.footer a {
    color: var(--tertiär-text-color);
}

.footerHeart {
    color: var(--primary-text-color);
}

.left-footerPanel {
    grid-area: left-footerPanel;

    margin: auto 0 auto 0;
    text-align: left;
    padding: .5em 0 .5em 0.25em;
}

.center-footerPanel {
    grid-area: center-footerPanel;

    margin: auto 0 auto 0;
    text-align: center;
    padding: .5em 0 .5em 0;
}

.right-footerPanel {
    grid-area: right-footerPanel;

    margin: auto 0 auto 0;
    text-align: right;
    padding: .5em 0.25em .5em 0;
}

.right-footerPanel a {
    text-decoration: none;
}

.footer-icon-copyright {
    color: var(--primary-text-color);
}

.container-footer {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    width: auto;
    grid-template-areas: 'left-footerPanel center-footerPanel right-footerPanel';
}

.container-footer a::after {
    content: "\A";
    white-space: pre;
}