.pre-header {
    grid-area: preHeader;

    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    text-align: right;
    display: block;
    padding: .3em;
}

.pre-header-icon {
    color: var(--primary-text-color);
}

.pre-header-text {
    color: var(--secondary-text-color);
    margin-right: 10px;
}

.header {
    grid-area: header;

    background-color: var(--secondary-background-color);
    overflow: hidden;
}

.nav-icon, .header-button-icon {
    color: var(--primary-text-color);
}

.header a {
    float: left;
    display: block;
    color: var(--secondary-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header-button:hover, .header-button-active {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.header .nav-icon {
    display: none;
}

.header-logo {
    height: 50px;
    padding: 0 16px;
    display: block;
    float: left;
}


.sticky {
    position: fixed;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .header a:not(:first-child) {display: none;}
    .header a.nav-icon {
        float: right;
        display: block;
    }

    .header.responsive {
        position: relative;
    }

    .header.responsive a.nav-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .header.responsive .header-logo {
        float: none;
        display: block;
    }

    .header.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .header.responsive.sticky {
        position: fixed;
    }
}