.preHeader {
    grid-area: preHeader;

    text-align: right;
    display: block;
    float: left;
    padding: .3em;
}

.header {
    grid-area: header;

    background-color: #f1f1f1;
    text-align: center;
}

.navIcon {
    display: none;

    justify-self: center;
    align-self: center;
}

.left-headerPanel {
    grid-area: left-headerPanel;

    width: 100%;
}

.headerLogo {
    height: 50px;
    display: block;
    margin-left: 10%;
}

.middle-headerPanel {
    grid-area: center-headerPanel;
    width: 100%;
}

.header-button {
    background-color: var(--background-color);
    color: #222;
    height: 100%;
    margin: 0 2px;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 25px;

    --background-color: #E3E3E3;
    --accent-color: #0AF;
}

.header-button.button-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--accent-color);

    transition: transform 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

.header-button.button-background-slide:hover::before,
.header-button.button-background-slide:focus::before {
    transform: scaleY(1);
}

.header-button.button-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.header-button.button-background-slide:hover,
.header-button.button-background-slide:focus {
    color: white;
}

.right-headerPanel {
    grid-area: right-headerPanel;
}

.container-header {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(10.0%, 1fr));

    align-items: center;
    justify-items: center;
    grid-template-areas: 'left-headerPanel center-headerPanel center-headerPanel center-headerPanel center-headerPanel center-headerPanel center-headerPanel right-headerPanel';
}

.sticky {
    position: fixed;
    width: 100%;
}

@media screen and (max-width: 1100px) {

    .header button:not(:first-child) {
        display: none;
    }
    .header a.navIcon {
        display: block;
    }

    .header.responsive {
        position: relative;
    }
    .header.responsive .navIcon {
        position: relative;
    }
    .header.responsive button {
        justify-self: center;
        align-self: center;
        display: block;
    }

    .header.responsive.sticky {position: fixed}
}

@media screen and (max-width: 600px) {
    .header button {display: none;}
}