.index-content-container {
    display: grid;

    grid-template-areas:
            'leftPanel leftPanel leftPanel leftPanel middlePanel middlePanel middlePanel middlePanel rightPanel rightPanel rightPanel rightPanel';
}

@media screen and (max-width: 600px) {
    .index-content-container {
        grid-template-areas:
          'leftPanel leftPanel leftPanel leftPanel leftPanel leftPanel leftPanel leftPanel leftPanel leftPanel leftPanel leftPanel'
          'middlePanel middlePanel middlePanel middlePanel middlePanel middlePanel middlePanel middlePanel middlePanel middlePanel middlePanel middlePanel'
          'rightPanel rightPanel rightPanel rightPanel rightPanel rightPanel rightPanel rightPanel rightPanel rightPanel rightPanel rightPanel'
    }
}

.leftPanel {
    grid-area: leftPanel;

    height: auto;
}

.middlePanel {
    grid-area: middlePanel;

    height: auto;
}

.rightPanel {
    grid-area: rightPanel;

    height: auto;
}