.services-content-container {
    display: grid;

    background-color: var(--secondary-background-color);

    grid-template-areas:
                'topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel'
                'leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel'
                'centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel'
                'rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel'
}

.top-services-panel {
    grid-area: topServicesPanel;

    margin: 40px 0;
}

.left-services-panel {
    grid-area: leftServicesPanel;

    margin-top: 50px;
}

.center-services-panel {
    grid-area: centerServicesPanel;

    margin-top: 50px;
}

.right-services-panel {
    grid-area: rightServicesPanel;

    margin-top: 50px;
}

.left-services-panel, .center-services-panel, .right-services-panel {
    color: var(--secondary-text-color);
}

.service-title {
    text-align: center;
    padding: 10px 0;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-size: 3em;
}

@media screen and (max-width: 600px) {
    .services-content-container {
        grid-template-areas:
                'topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel topServicesPanel'
                'leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel leftServicesPanel'
                'centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel centerServicesPanel'
                'rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel rightServicesPanel';
    }
}